

<section>
    <div class="m-3">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th scope="col">BooK No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Status/Holder</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each books}}
                <tr>
                    <th scope="row">{{this.BookNo}}</th>
                    <td>{{this.Name}}</td>
                    <td>{{this.Author}}</td>
                    <td>{{this.Publisher}}</td>
                    <td>{{this.Category}}</td>
                    {{#if this.Holder}}
                    <td class="text-danger">{{this.Holder}}</td>
                    {{else}}
                    <td class="text-success">Available</td>
                    {{/if}}
                    
                   
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>

   $(function(){
        $('#table').DataTable({ "bSort" : false });
    });
    
</script>

