

<section>
    <div class="container mt-5">
        <div class="row" >
            <a href="/admin/add-user" class="btn btn-success ml-auto">Add User</a>
        </div>
        <br><br>
        <table id="table" class="table mt-5">
            <thead>
                <tr>
                    
                    <th scope="col">User ID</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{this.UserID}}</td>
                    <td>{{this.Name}}</td>
                    <td>
                        <a href="/admin/edit-user?id={{this._id}}" class="btn btn-primary">Edit</a>
                        <a href="/admin/delete-user?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Are You Sure to Delete {{this.Name}} ?') ">Delete</a>
                    </td>
                   
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
